*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: url(back.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
}
.nav{
	width: 100%;
	height: 70px;
	background: #003;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo{
	color: #fff;
	height: 70px;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
	font-size: 13px;
	margin-left: 30px;
	z-index: 2;
}
.navlinks{
	height: 70px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	padding: 0 40px 0 40px;
	position: relative;
}
.navlinks ul{
	display: flex;
	flex-direction: row;
}
.navlinks li{
	padding: 15px 40px;
	list-style: none;
}
.navlinks a{
	color: #fff;
	text-decoration: none;
}

.hamburger{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	visibility: hidden;
}
.hamburger i{
	color: #fff;
	font-size: 25px;
}
.close{
	visibility: hidden;
}
.content{
	width: 100%;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	position: absolute;
}
.content button{
	width: 200px;
	height: 60px;
	border-radius:50px ;
	margin-top: 20px;
	border: 2px solid #fff;
	background: #0004;
	color: #fff;
	font-size: 15px;
	transition: all 0.4s ease;
}
.content button:hover {
	transform: scale(1.1);
}
.content h1{
	font-size: 70px;
	color: #fff;
	transition: 0.6s ease;
}
 @media only screen and (max-width: 900px){

 	.hamburger{
 		visibility: visible;
 	}
 	.content h1{
 		font-size: 40px;
 		transition: 0.6s ease;
 	}
 	.content button{
 		height: 50px;
 		transition: 0.4s ease;
 	}
 	.close{
 		visibility: visible;
 		color: #fff;
 		font-size: 25px;
 		position: absolute;
 		top: 0;
 		right: 0;
 		display: flex;
 		flex-direction: column;
 		text-align: center;
 		justify-content: center;
 		visibility: visible;
 		width: 70px;
 		height: 70px;

 	}
 	.navlinks{
 		width: 100%;
 		height: 100%;
 		left: 100%;
 		background: #003;
 		position: fixed;
 		display: flex;
 		flex-direction: column;
 		z-index: 1;
 		justify-content: space-evenly;
 		opacity: 0;
 		transition: all 0.6s ease;
 	}
 	.nav-open{
 		left: 0%;
 		opacity: 1;

 	}
 	.navlinks ul{
 		display: flex;
 		flex-direction: column;
 		text-align: center;
 	}
 	.navlinks li{
 		margin: 35px 0;
 	}
 	.navlinks a{
 		font-size: 16px;
 	}
 }

